body {
	background: var(--background);
}

.v-tooltip {
	font-family: var(--default-font) !important;
}

.link-no-style {
	text-decoration: none; 
	color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
