:root {
	--background: rgb(var(--v-theme-background));
	--surface: rgb(var(--v-theme-surface));
	--primary: rgb(var(--v-theme-primary));
	--primary-darken-1: rgb(var(--v-theme-primary-darken-1));
	--secondary: rgb(var(--v-theme-secondary));
	--secondary-darken-1: rgb(var(--v-theme-secondary-darken-1));
	--text: rgb(var(--v-theme-text));
	--error: rgb(var(--v-theme-error));
	--info: rgb(var(--v-theme-info));
	--success: rgb(var(--v-theme-success));
	--warning: rgb(var(--v-theme-warning));
	--detail: rgb(var(--v-theme-detail));
	--rarity-no-ranked: rgb(var(--v-theme-rarity-no-ranked));
	--rarity-trash: rgb(var(--v-theme-rarity-trash));
	--rarity-common: rgb(var(--v-theme-rarity-common));
	--rarity-good: rgb(var(--v-theme-rarity-good));
	--rarity-great: rgb(var(--v-theme-rarity-great));
	--rarity-masterpiece: rgb(var(--v-theme-rarity-masterpiece));
	--rarity-goty: rgb(var(--v-theme-rarity-goty));

}
